	
	<div data-role="page" id="start">
	   	<div id="top_header" data-role="header" data-theme="a">
			<h1>
			</h1>
		</div>
		
		<div data-role="content" class="border_body rounded {$deviceClass}">
			<div class="ui-grid-a">
				<div class="ui-block-a">
					<p>Here's some text.</p>
					<p>Here's some more text.</p>
				</div>
				<div class="ui-block-b">
					<img class="{$deviceClass}" src="images/logo_header.png">
					<img class="{$deviceClass}" src="images/logo_main-24.png">
				</div>
			</div>
			<!-- End grid -->
			
		</div>
		<!-- End Content ----> 
		
        <div data-role="footer" data-position="fixed">
        	<h4>Here's some footer content</h4>
         </div>
    </div> 
    