	
	<div data-role="page" id="start">
	   	<div id="top_header" data-role="header" data-theme="a">
			<h1>
			</h1>
		</div>
		
		<div data-role="content" class="border_body rounded {$deviceClass}">
	
			<img src="images/logo_header.png">
			<img src="images/logo_main-24.png">
			
		</div>
		<!-- End Content ---->
		
        <div data-role="footer" data-position="fixed">
        	<h4>Here's some footer content</h4>
         </div>
    </div> 
    