</body>

<script type="text/javascript">
	objUserAgent = navigator.userAgent;
	
	//** Force mobile versions of border_body to centered, even dimensions
	if(objUserAgent.search('iPhone') != -1) {
		// $('.border_body').addClass('iphone');
	}
	else if (objUserAgent.search('iPad') != -1) {
		// $('.border_body').addClass('ipad');
	}
</script>	

</html>
	
	