/** CSS3 corner rounding. Will work on anything but <input> controls **/
.rounded  {
	/** width: 70px; */
	/* cursor: pointer; */
	/* float: left; */

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 	4px 4px 4px #888;
	-webkit-box-shadow: 0px 4px 4px #888;
	box-shadow: 	4px 4px 4px #888;

}

/** Dominant middle of page with blue border **/
.border_body {
	position:absolute;
	width:90%;
	top:10%;
	bottom:10%;
	margin-left:3%;
	/* margin: 0 auto; */
	border: 3px solid #3695e4;
	
}

/** adjust border_body for devices to uniformly centered, well-dimensioned **/
.border_body.ipad {
	margin-left:2.5%; */
}

@media screen and (orientation:portrait) {
	.border_body.iphone {
		/* top:15%; */
		top:5%;
		bottom:2%;
		/* bottom:10%; */
		width: 78%;
		/* margin-left:0%; */
		margin-left:5%;
		margin-right:3%;
		/* margin:0 auto; */
	}
	
	img.iphone {
		width:75%;
		height:auto;
		margin-left:13%;
	}
	
	.ui-btn-spanner.iphone {
		width: 75%;
		margin-left:13%;
		margin-top:3%;
	}
	
	.ui-hide {
		display:none;
	}
}
@media screen and (orientation:landscape) {
	.border_body.iphone {
		top:10%;
		bottom:10%;
		width:80%;
		margin-left:6%;
	}
	
	img.iphone {
		width:75%;
		height:auto;
		margin-left:13%;
	}
	
	.ui-btn-spanner.iphone {
		width: 75%;
		margin-left:13%;
	}	
	
	.ui-show {
		display:block;
		width:75%;
		margin-left:13%;
	}
	
}

/** experimental iphone image reduction **/
/*-----
img.iphone {
	width:75%;
	height:auto;
	margin-left:13%;
}
-----*/

img.ipad {
	width:100%;
	height:auto;
}

.welcome {
	margin-top:6px;
	font-size:12px;
	text-align:center;
}

